body {
    overflow: auto;

}

#About {
    height: fit-content;
}

#TitleDiv {
    font-weight: 300;
    background-image: url(/Assets/images/background-temp.gif);
    background-size: cover;
    color: white;
    text-align: center;
    padding: 30vh;
    font-size: 15vh;
    background-color: gray;
}

#AboutLabel {
    font-weight: 300;
    color: black;
    text-align: center;
    top: 5%;
    border-radius: 50px;
    font-size: 150px;
}

#Text1,
#Text3 {
    width: 70%;
    height: 50vh;
    background-color: rgb(113, 113, 113);
    z-index: 1000;
    margin-left: 0px;
    margin-right: auto;
    color: white;
}

#Text2 {
    width: 70%;
    height: 50vh;
    background-color: rgb(97, 97, 97);
    z-index: 1000;
    margin-right: 0px;
    margin-left: auto;
    color: white;
}

#About {
    height: fit-content;
}

.reveal {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease-in-out;
}

.reveal.is-visible {
    opacity: 1;
    transform: translateY(0);
}

.ContentFiller {
    display: flex;
}

@media (max-width:719px) {
    #AboutLabel {
        font-size: 75px;
    }

    .ContentFiller {
        width:100%;
        display:flex;
        align-items: center;
        justify-content: center;
    }

    #Text1, #Text2, #Text3 {
        width: 100%;
    }

    #Text1, #Text2, #Text3 {
        background-image: url(/Assets/images/background-temp.jpg);
    }

    .ContentFiller h1 {
        width: 100%;
        font-size: 20px;
        padding: 7.5px;
        font-weight: 100;
        color: white;
        text-align: center;
        border-radius: 30px;
        background-color: rgba(0, 0, 0, 0.9);
        margin: 0 auto;
        animation: slide-right 2s, move-and-expand-About 1s;
        animation-fill-mode: both;
        opacity: 1;
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .ContentFiller img {
        display: none;
        visibility: hidden;
        height: 0;
        width: 0;
    }
}