body {
    overflow: auto;

}

#About {
    height: fit-content;
}

#TitleDiv {
    font-weight: 300;
    background-image: url(/Assets/images/background-temp.gif);
    background-size: cover;
    color: white;
    text-align: center;
    padding: 30vh;
    font-size: 15vh;
    background-color: gray;
}

#AboutLabel {
    font-weight: 300;
    color: black;
    text-align: center;
    top: 5%;
    border-radius: 50px;
    font-size: 150px;
}

#Text1,
#Text3 {
    width: 70%;
    height: 50vh;
    background-color: rgb(13, 65, 2);
    z-index: 1000;
    margin-left: 0px;
    margin-right: auto;
    color: white;
}

#Text2 {
    width: 70%;
    height: 50vh;
    background-color: rgb(0, 255, 51);
    z-index: 1000;
    margin-right: 0px;
    margin-left: auto;
    color: white;
}

#About {
    height: fit-content;
}

.reveal {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease-in-out;
}

.reveal.is-visible {
    opacity: 1;
    transform: translateY(0);
}

.ContentFiller {
    display: flex;
}
