#BoardTitle {
    color: black;
    font-size:100px;
    font-weight: 100;
}

.main {
    background-color: black;;
    color:white;
    padding: 30px;
    width:auto;
    line-height: 6em;
}

.main p {
    font-size: 3em;
    font-weight: 300;
    text-align: center;
    padding: 0 10em;
}

.profilePicture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid white;
    margin: 0 auto;
    display: block;
}

.Socials a {
    color: lightblue;
    display: inline-block;
    border-radius: 50%;
    background-color: #000;
    margin: 0 10px;
    font-size: 100px;
    font-weight:normal;
}

@media (max-width: 719px) {
    .item p {
        color: white;
        font-size: 17.5px;
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main {
        line-height: 40px;
        padding-left: 0;
        padding-right: 0;
    }

    .main p {
        padding: unset;
    }

    .Socials {
        font-size: 10px;
    }
}