body {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 25;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(224, 224, 224);
    position: fixed;
    top: 0;
    overflow:auto;
    color: black;
    width: 100%;
    z-index: 10000;
    
}

.topnav a.left {
    padding-right: 50px;
}

/* Style the links inside the navigation bar */
.topnav a:not(.img) {
    float: right;
    text-align: center;
    padding: 4px 16px;
    text-decoration: none;
    font-size: 15px;
    color: black;
}

.img {
    float: left;
    text-align: center;
    padding: 4px 16px;
    text-decoration: none;
    font-size: 12px;
    color: black;
}

.image {
    width: 75px;
    height: 75px;
}

.item:hover .text::after {
    width: 100%;
}

.text {
    position: relative;
    display: inline-block;
    font-weight:500;
}

.text::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0%;
    height: 2.5px;
    background-color: #6dd3ff;
    transition: width 0.5s ease-in-out;
}